<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Chris' Portfolio" %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <%= stylesheet_link_tag "site" %>
    <%= favicon_tag 'cb-favicon.ico' %>
    <%= javascript_include_tag "site" %>
    <meta name="description" content="My portfolio site as a Full-Stack Web Developer">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Chris' Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://chrisbourgeonnier.me/" />
    <meta property="og:image" content="<%= image_path 'images/cb-favicon.ico' %>" />
    <meta property="og:description" content="My portfolio site as a Full-Stack Web Developer" />
    <meta property="og:site_name" content="Chris' Portfolio" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@twitter_handle">
    <meta name="twitter:title" content="Chris' Portfolio">
    <meta name="twitter:description" content="My portfolio site as a Full-Stack Web Developer">
    <meta name="twitter:creator" content="@twitter_handle">
    <meta name="twitter:image:src" content="<%= image_path 'images/cb-favicon.ico' %>">
  </head>
  <body>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
