<div class="row my-5">
  <div class="col-12">
    <div class="container about-container">
      <div id="about">
        <h2>Hello and Welcome</h2>
        <p style="text-align: justify;">After years working in education as a teacher and a Bachelor’s degree in Interior Design, I transitioned to programming to become a <strong>FullStack Engineer</strong>, specialized in <strong>Ruby</strong> and <strong>Rails</strong>. I am passionate about creating beautiful and functional applications that solve real-world problems.</p>
        <%# <p style="text-align: justify;">My experience in teaching has given me the ability to communicate complex ideas in simple terms, making me an effective team player. I am always looking for new challenges and opportunities to learn and grow. Feel free to connect with me if you’re interested in working together!</p> %>
      </div>
      <div class="navigation-buttons d-flex justify-content-around py-2">
        <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-gears"></i>
          <span>Projects</span>
          <%= link_to "", "#projects", class: 'navigation-button-link' %>
        </div>
        <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-play-circle"></i>
          <span>Video</span>
          <%= link_to "", "#video", class: 'navigation-button-link' %>
        </div>
        <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-paintbrush"></i>
          <span>Canvas</span>
          <%= link_to "", "#canvas", class: 'navigation-button-link' %>
        </div>
        <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
          <i class="fa-regular fa-address-card"></i>
          <span>CV / Resume</span>
          <%= link_to "", "#contact", class: 'navigation-button-link' %>
        </div>
        <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-envelope"></i>
          <span>Contact</span>
          <%= link_to "", "#contact", class: 'navigation-button-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
