<h5>Team works, full apps</h5>
  <div class="cards">
    <% data.projects.each do |project| %>
      <% if project.featured == "featured" %>
        <div class="card-product featured">
          <%= image_tag project.image, alt: "project image" %>
          <div class="card-product-infos w-100 d-flex justify-content-center flex-column">
            <div class="my-0 mx-0 d-flex align-items-center">
              <h2 class="project-name"><%= project.name %> <i class="fa-solid fa-gem"></i> </h2>
            </div>
            <h3><%= project.slogan %></h3>
            <p><%= project.description %></p>
            <p class="my-3 d-flex align-items-center"><%= project.tech %></p>
            <div class="d-flex align-items-center my-2">
              <%# <% link_to project.detail, class: 'links mx-2', target: '_blank' do %>
                <%# <button class="btn btn-flat">More Details</button> %>
              <%# <% end %>
              <% link_to project.git, class: 'links mx-2', target: '_blank' do %>
                <button class="btn btn-flat">GitHub</button>
              <% end %>
              <% if project.url == "none" %>
                <% link_to project.url, class: 'd-none', target: '_blank' do %>
                  <button class="btn btn-flat">Visit the Website</button>
                <% end %>
              <% else %>
                <% link_to project.url, class: 'links mx-2', target: '_blank' do %>
                  <button class="btn btn-flat">Visit the Website</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <br>
  </div>
