<div class="row my-5">
  <div class="col-12">
    <div id="contact">

      <div class="d-flex justify-content-center flex-wrap my-5">
        <%# Resume side %>
        <div>
          <div class="d-flex align-items-center justify-content-center">
            <h4>Resume</h4>
          </div>
          <div class="d-flex justify-content-center">
            <div class="button-social d-flex justify-content-center align-items-center py-2">
              <i class="fa-regular fa-address-card fa-xl"></i>
              <%= link_to "", "images/chris-bourgeonnier-resume-2024-08.pdf", target: '_blank', class: 'button-social-link' %>
            </div>
          </div>
        </div>

        <%# Easter Egg %>
        <div class="button-social d-flex px-5 my-auto">
          <%# <i class="fa-solid fa-egg egg"></i> %>
          <%= image_tag 'easter-egg.png', alt: "easter egg", class: 'egg' %>
          <%= link_to "", "https://chrisbourgeonnier.github.io/easter-egg/", target: '_blank', class: 'button-social-link' %>
        </div>

        <%# Contact Me side %>
        <div>
          <div class="d-flex align-items-center justify-content-center">
            <h4>Contact me</h4>
          </div>
          <div class="d-flex justify-content-between">
            <div class="button-social d-flex flex-column justify-content-center align-items-center py-2">
              <i class="fa-brands fa-github fa-xl"></i>
              <%= link_to " ", "https://github.com/chrisbourgeonnier", target: '_blank', class: 'button-social-link' %>
            </div>
            <div class="button-social d-flex flex-column justify-content-center align-items-center py-2">
              <i class="fa-brands fa-linkedin fa-xl"></i>
              <%= link_to " ", "https://www.linkedin.com/in/chrisbourgeonnier/", target: '_blank', class: 'button-social-link' %>
            </div>
            <div class="button-social d-flex flex-column justify-content-center align-items-center px-2">
              <i class="fas fa-envelope fa-xl"></i>
              <%= mail_to 'chrisbourgeonnier__at__gmail.com', "", class: 'button-social-link' %>
            </div>
          </div>
        </div>

      </div>

      <%# Tech Stack section %>
      <div class="d-flex justify-content-center flex-wrap my-5">
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center py-2">
          <p class="my-0 px-2">Made with ❤, and </p>
          <img class="px-1" title="Ruby" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ruby/ruby-original.svg" alt="ruby" width="40" height="40"/>
          <img class="px-1" title="Rails" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rails/rails-original-wordmark.svg" alt="rails" width="40" height="40"/>
          <img class="px-1" title="MiddleMan" src="https://raw.githubusercontent.com/leungwensen/svg-icon/b84b3f3a3da329b7c1d02346865f8e98beb05413/dist/svg/logos/middleman.svg" alt="middleman" width="40" height="40"/>
          <img class="px-1" title="HTML5" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" alt="html5" width="40" height="40"/>
          <img class="px-1" title="CSS3" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" alt="css3" width="40" height="40"/>
          <img class="px-1" title="SASS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg" title="Sass" alt="Sass" width="40" height="40"/>
          <img class="px-1" title="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" alt="bootstrap" width="40" height="40"/>
          <img class="px-1" title="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40"/>
          <img class="px-1" title="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" alt="git" width="40" height="40"/>
          <img class="px-1" title="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="github" width="40" height="40"/>
          <img class="px-1" title="Netlify" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/netlify/netlify-original.svg" alt="netlify" width="40" height="40"/>
        </div>
      </div>
    </div>
  </div>
</div>
