<div class="container">
  <div class="row d-flex justify-content-between flex-wrap my-5">
    <div class="col-4 my-auto mx-auto">
      <!-- Banner Section -->
      <%= partial 'partials/banner' %>
    </div>
    <div class="col-sm-12 col-md-6 mx-auto px-2 my-auto">
      <!-- About Section -->
      <%= partial 'partials/about' %>
    </div>
  </div>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Video Section -->
  <%= partial 'partials/video' %>
  <!-- Canvas Section -->
  <%= partial 'partials/canvas' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>

<!-- link to a specific page with Middleman:  -->
<%# <%= link_to "About", "about.html" %>
